@import "nib"
@import "_base/index"
@import "_font_awesome/font-awesome"
@import "_index/index"
@import "_post/post"
@import "_search/search"
@import "_about/about"
@import "_join/join"
@import "_resume/resume"

.reward-container {
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.reward-container img {
  border: 1px solid #ddd;
  padding: 5px;
  background-color: white;
}

.post-announce {
    border: 1px solid #e5e5e5;
    background-color: hsla(0, 0%, 71%, .1);
    border-radius: 6px;
    padding: 15px;
}

#reward-btn{
    padding: 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    margin: 15px auto;
    display: block;
}