
.w-960px 
  width: 60rem!important;
  max-width: 100%;
  font-size: 14px;
  margin: 0 auto;

.resume-sample-box
  box-shadow: 0 2px 4px 0 rgba(50,50,93,.11), 0 0 0 1px #dedede;

  .pd-25
    padding: 2.5rem!important;

  .title-resume
    text-align: center

  .separator-resume
    margin-bottom: 0.5rem!important;
    margin-top: 0.3125rem!important;
    
    &:after
      content: "";
      display: block;
      height: 0.25rem;
      background: #252525;
      margin-top: 0.09375rem;
    &:before
      content: "";
      display: block;
      height: 0.0625rem;
      background: #252525;
  
  .list-summary-top
    line-height: 1.9!important;
    text-align: center
    font-size: 14px;

.heading-resume
  font-size:14px
  text-align:center
  margin-top: 1.875rem!important;
  margin-bottom: 0.5rem!important;
.heading-line
  border-color: #252525;
  border-top-width: 0.125rem;
.mb-30
  margin-bottom:30px


.flex-position
    display:flex
    .position-title
      flex-grow: 1!important;
    .position-time
      text-align:right
.experience-item
  list-style:unset
  padding-left: 17px;
  
.download
    text-align: center;
    display: block;

